* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: #BDE8F5;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #1C4D8D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    background-color: #0F2854;
    padding: 3em;
    border-radius: 20px;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 2em;
}

.btn {
    display: flex;
    justify-content: space-around;
}

button {
    width: 110px;
    color: #BDE8F5;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #BDE8F5;
    font-size: 1.3rem;
    background-color: #1C4D8D;
    cursor: pointer;
    margin: 1em 0;
    font-weight: bold;
}

#play-again {
    display: none;
    width: 150px;
    margin: 0 auto 2.5em auto;
}

p {
    font-size: 1.3rem;
    margin: 0.7em;
}

#description {
    font-size: 1.5rem;
    margin-top: 2em;
    font-weight: bold;
    background-color: #BDE8F5;
    color: #0F2854;
    padding: 1em;
    border-radius: 15px;
}